{% extends "base.html" %}
{% load static %}
{% block title %}Productos{% endblock title%}
{% block content %}
  
  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box h1general">
              <h1 class="title-single">{{section}}</h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Productos
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{section}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          {% for product in page_obj%}
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="{% static '/assets/img/'%}{{product.img}}" alt="" class="img-a img-fluid">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end pagination">

                {%if page_obj.has_previous%}
                <li class="page-item">
                  <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                    <span class="bi bi-chevron-left"></span>
                  </a>
                </li>
                {%endif%}
              
                {%for i in page_obj.paginator.page_range%}
                <li class="page-item next {% if i == page_obj.number %} active {%endif%}">
                  <a class="page-link" href="?page={{i}}">{{i}}</a>
                </li>
                {%endfor%}
                               
                {%if page_obj.has_next%}
                <li class="page-item next">
                  <a class="page-link" href="?page={{page_obj.next_page_number}}">
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </li>
                {%endif%}
                </ul>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Property Grid Single-->
  </main><!-- End #main -->

{% endblock %}